<div class="container p-5">
  <div class="row">
    <div class="col-md-6 border rounded m-auto p-5 shadow" *ngIf="formulario">
      <h6>{{ tituloFormulario }}</h6>
      <hr>

      <form action="" [formGroup]="formulario" (ngSubmit)="cadastrar()">
        <div class="form-group">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" name="nome" class="form-control form-control-sm" formControlName="nome">
        </div>

        <div class="form-group">
          <label for="sobrenome" class="form-label">Sobrenome</label>
          <input type="text" name="sobrenome" class="form-control form-control-sm" formControlName="sobrenome">
        </div>

        <div class="form-group">
          <label for="idade" class="form-label">Idade</label>
          <input type="number" name="idade" class="form-control form-control-sm" formControlName="idade">
        </div>

        <div class="form-group">
          <label for="profissao" class="form-label">Profissão</label>
          <input type="text" name="profissao" class="form-control form-control-sm" formControlName="profissao">
        </div>

        <div class="row mt-3">
          <div class="col-md-6">
            <input type="submit" class="btn btn-sm btn-outline-success" value="Cadastrar">
          </div>
          <div class="col-md-6 pl-1">
            <button class="btn btn-sm btn-outline-danger">Voltar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
